*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

main{
	width: 960px;
	height: 100%;
	margin: 50px 0;
	position: relative;
}

.article{
	width: 300px;
	height: 100%;
	margin-right: 30px;
	display: inline-block;
	float: left;
	border: 1px solid lightgrey;
}

.article:last-child{
	margin: 0;
}

.main-visual:nth-child(1){
	width: 280px;
	height: 100%;
	margin: 10px 10px 0 10px;
	display: inline-block;
	background-size: contain;
	background-image: url(img/flow1.png);
}

.main-visual:nth-child(2){
	width: 280px;
	height: 100%;
	margin: 10px 10px 0 10px;
	display: inline-block;
	background-size: contain;
	background-image: url(img/flow2.png);
}

.main-visual:nth-child(3){
	width: 280px;
	height: 100%;
	margin: 10px 10px 0 10px;
	display: inline-block;
	background-size: contain;
	background-image: url(img/flow3.png);
}


h1{
	color: white;
	background-color: orange;
	position: absolute;
}